/* css reset */
* {
  margin: 0;
  padding: 0;
}
/* set font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
}

/* common styles */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
body {
  color: white;
}
.btn-primary {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12px 16px;
  cursor: pointer;
  border: none;
}

.btn-primary i {
  margin-left: 4px;
}
.img-width {
  width: 100%;
}
.d-none {
  display: none;
}
.text-center {
  text-align: center;
}
.primary-title {
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: 700;
}
.sub-title {
  color: rgb(185, 184, 184);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* main styles */
body {
  background-color: rgba(26, 11, 46, 1);
}
/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
/* navbar menu */
.menu {
  display: flex;
  align-items: center;
}
.menu li {
  list-style: none;
  margin-right: 32px;
}
.menu li a {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
/* banner */
.banner-container {
  text-align: center;
  padding: 0 0 80px 0;
  border: 1px solid white;
  /* background-image: url(assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  display: none;
}
.banner-title {
  color: rgba(255, 255, 255, 1);
  font-size: 4rem;
  font-weight: 800;
  margin-top: 40px;
}
.banner-sub-title {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  margin: 24px 0;
}
.banner-btn {
  background: transparent;
  color: rgba(0, 255, 136, 1);
  border: 1px solid rgba(0, 255, 136, 1);
  margin-left: 8px;
}
.banner-btn-container i {
  margin-right: 8px;
}
/* about section*/
.about-container {
  padding: 50px 0 80px 0;
  border-bottom: 1px solid rgb(41, 41, 41);
}

.about-content,
.about-sub-title {
  color: rgb(185, 184, 184);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  margin: 16px 0 32px 0;
}
.about-sub-title {
  margin: 0;
}
.about-items {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 100px 0;
}
.about-item {
  text-align: center;
}
.about-title {
  color: rgba(0, 255, 136, 1);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 12px;
}
/* feature section */
.feature-container {
  padding: 100px 0;
  background: rgba(35, 14, 61, 1);
}

.feature-items {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.feature-item {
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px 40px;
}
.feature-title {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 0;
}
.feature-item-1 {
  grid-row: 1 / span 2;
  align-content: center;
}
.feature-item-2,
.feature-item-3 {
  grid-column: 2 / span 2;
}
.feature-item-4 {
  grid-column: 1 / span 2;
}
/* episode item */
.episode-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
}
.episode-item {
  border-radius: 24px;
  background: rgba(37, 13, 68, 1);
}
.episode-items iframe {
  width: 100%;
  border-radius: 24px 24px 0 0;
}

.episode-title {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  font-weight: 700;
}
.episode-content {
  padding: 24px;
}
.episode-sub-title {
  margin: 12px 0;
}
.episode-time {
  display: flex;
  align-items: center;
}
.episode-time img {
  margin-right: 8px;
}
.episode-container {
  padding: 100px 0;
}
/* host section */
.host {
  display: flex;
  gap: 30px;
  margin: 40px 0;
  padding: 40px;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
}
.host-container {
  padding-bottom: 100px;
}
.host-title {
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
  font-weight: 700;
}
.host-sub-title {
  margin: 16px 0 24px 0;
}
.host-social {
  display: flex;
  align-items: center;
}
.host-social li {
  list-style: none;
}
.host-social a {
  margin-right: 8px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 1px solid rgba(83, 60, 114, 1);
}
/* footer */
footer {
  padding: 100px 0 100px 0;
  background-color: rgba(35, 14, 61, 1);
}
/* footer menu */
footer {
  background-image: url(assets/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-menu li {
  list-style: none;
  margin: 32px 0 40px 0;
}
.footer-menu a {
  text-decoration: none;
  color: rgb(185, 184, 184);
  margin-right: 40px;
}
.footer-menu a > i {
  margin-right: 8px;
}
/* responsive design */

/* for mobile devices */
@media (max-width: 576px) {
  body {
    width: 98%;
  }
  .d-none {
    display: block;
  }
  /* menu */
  .menu,
  .btn-primary {
    display: none;
  }
  nav {
    max-width: 98%;
  }
  /* about */
  .about-container br {
    display: none;
  }
  .about-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 50px 0 60px 0;
  }
  /* feature */
  .feature-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-item {
    grid-column: 1 / span 1;
  }
  /* episodes */
  .episode-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .episode-items iframe {
    height: auto;
  }
  .episode-title {
    font-size: 1.25rem;
  }
  .episode-content {
    padding: 16px;
  }
  .primary-title {
    font-size: 2rem;
  }
  /* host  */
  .host {
    flex-direction: column;
    gap: 0;
    text-align: center;
    padding: 20px 5px 40px 5px;
  }
  .host-social {
    justify-content: center;
  }
  .footer-menu {
    display: grid;
    margin: 30px 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-menu li {
    margin: 16px 0 0px 0;
  }
  footer img {
    width: 50%;
  }
}
/* for tablets */
@media (min-width: 577px) and (max-width: 767px) {
  body {
    width: 98%;
  }
  .d-none {
    display: block;
  }
  .menu,
  .btn-primary {
    display: none;
  }

  .about-container br {
    display: none;
  }
  .about-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .feature-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-item {
    grid-column: 1 / span 2;
  }
  .feature-item-1 {
    grid-row: 1 / span 1;
  }
  /* episodes */
  .episode-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .episode-items iframe {
    height: auto;
  }
}
