/* css reset */
* {
  margin: 0;
  padding: 0;
}
/* set font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
}

/* common styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn-primary {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12px 16px;
  cursor: pointer;
  border: none;
}

.btn-primary i {
  margin-left: 4px;
}
.img-width {
  width: 100%;
}
.d-none {
  display: none;
}

/* main styles */
body {
  background-color: rgba(26, 11, 46, 1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.menu {
  display: flex;
  align-items: center;
}
.menu li {
  list-style: none;
  margin-right: 32px;
}
.menu li a {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

/* responsive design */

/* for mobile devices */
@media (max-width: 576px) {
  .d-none {
    display: block;
  }
  .menu,
  .btn-primary {
    display: none;
  }
}
/* for tablets */
@media (min-width: 577px) and (max-width: 767px) {
  .d-none {
    display: block;
  }
  .menu,
  .btn-primary {
    display: none;
  }
}
